[submodule "ext/cglm"]
	path = ext/cglm
	url = https://github.com/recp/cglm
[submodule "ext/physfs"]
	path = ext/physfs
	url = https://github.com/icculus/physfs
[submodule "ext/bobtail"]
	path = ext/bobtail
	url = https://github.com/Torphedo/bobtail
[submodule "ext/coregui"]
	path = ext/coregui
	url = https://github.com/torphedo/coregui
